/* You can add global styles to this file, and also import other style files */
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #f5f5f5;
    color: #000000;
    overflow-x: hidden;
  }
  
  html, body {
    height: 100%;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #2d5016;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1f3710;
  }
  